<ion-view view-title="Calendar">
	<ion-content>
		<!DOCTYPE html>
		<html>
		<head>
			<meta charset="utf-8" />
			<title>Calendar Widget</title>
		</head>
		<body>
		<div align="center">
		<div id="cal">
			<div class="header">
				<span class="left button" id="prev"> Previous </span>
				<span class="left hook"></span>
				<span class="month-year" id="label"> June 2015 </span>
				<span class="right hook"></span>
				<span class="right button" id="next"> Next </span>
			</div>

			<div id="cal-frame">
				<table class="curr">
					<tbody>
					<td><div align="center"> Sun </div></td>
					<td><div align="center"> Mon </div></td>
					<td><div align="center"> Tue </div></td>
					<td><div align="center"> Wed </div></td>
					<td><div align="center"> Thu </div></td>
					<td><div align="center"> Fri </div></td>
					<td><div align="center"> Sat </div></td>
					<tr><td class="nil"></td><td class="nil"></td><td><span class="left button" id="prev"> 1 </span></td><td><span class="left button" id="prev"> 2 </span></td><td><span class="left button" id="prev"> 3 </span></td><td><span class="left button" id="prev"> 4 </span></td><td><span class="left button" id="prev"> 5 </span></td></tr>
					<tr><td><span class="left button" id="prev"> 6 </span></td><td><span class="left button" id="prev"> 7 </span></td><td><span class="left button" id="prev"> 8 </span></td><td><span class="left button" id="prev"> 9 </span></td><td><span class="left button" id="prev"> 10 </span></td><td class="today"><span class="left button" id="prev"> 11 </span></td><td><span class="left button" id="prev"> 12 </span></td></tr>
					<tr><td><span class="left button" id="prev"> 13 </span></td><td><span class="left button" id="prev"> 14 </span></td><td><span class="left button" id="prev"> 15 </span></td><td><span class="left button" id="prev"> 16 </span></td><td><span class="left button" id="prev"> 17 </span></td><td><span class="left button" id="prev"> 18 </span></td><td><span class="left button" id="prev"> 19 </span></td></tr>
					<tr><td><span class="left button" id="prev"> 20 </span></td><td><span class="left button" id="prev"> 21 </span></td><td><span class="left button" id="prev"> 22 </span></td><td><span class="left button" id="prev"> 23 </span></td><td><span class="left button" id="prev"> 24 </span></td><td><span class="left button" id="prev"> 25 </span></td><td><span class="left button" id="prev"> 26 </span></td></tr>
					<tr><td><span class="left button" id="prev"> 27 </span></td><td><span class="left button" id="prev"> 28 </span></td><td><span class="left button" id="prev"> 29 </span></td><td><span class="left button" id="prev"> 30 </span></td><td class="nil"></td><td class="nil"></td><td class="nil"></td></tr>
					</tbody>
				</table>

			</div>
		</div>
		</div>
		</body>
		</html>
	</ion-content>
</ion-view>
