<ion-view view-title="Create Event" ng-controller="CreateEventCtrl">
    <ion-content>
        <button ng-show="creator=='am790d'" class="button button-block button-positive" ng-click="inject()">Inject Default Events</button>
        <form ng-submit="createEvent(false)">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Event Title</span>
                    <input type="text" ng-model="info.name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Description</span>
                    <input type="text" ng-model="info.description">
                </label>
                <label class="item item-input">
                    <span class="input-label">Location</span>
                    <input type="text" ng-model="info.location">
                </label>
                <label class="item item-input">
                    <span class="input-label">Start Date</span>
                    <button type="button" class="button button-full button-calm"
                           ng-click="showDatePicker('start')">{{startDate | date : 'MMMM d, yyyy h:mm a'}}
                    </button>
                </label>
                <label class="item item-input">
                    <span class="input-label">End Date</span>
                    <button type="button" class="button button-full button-calm"
                            ng-click="showDatePicker('end')">{{endDate | date : 'MMMM d, yyyy h:mm a'}}
                    </button>
                </label>
                <label class="item item-input">
                    <span class="input-label">Start</span>
                    <input type="datetime-local" placeholder="Today" ng-model="info.startDate">
                </label>
                <label class="item item-input">
                    <span class="input-label">End</span>
                    <input type="datetime-local" placeholder="Today" ng-model="info.endDate">
                </label>
                <label class="item item-input">
                    <span class="input-label">Date</span>
                    <input type="text" ng-model="info.date">
                </label>
                <label class="item item-input">
                    <span class="input-label">Start Time</span>
                    <input type="text" ng-model="info.startTime">
                </label>
                <label class="item item-input">
                    <span class="input-label">End Time</span>
                    <input type="text" ng-model="info.endTime">
                </label>
                <label class="item item-input">
                    <span class="input-label">Contact</span>
                    <input type="text" ng-model="info.contact">
                </label>
                <label class="item item-input">
                    <span class="input-label">Contact Info</span>
                    <input type="text" ng-model="info.contactInfo">
                </label>
                <label class="item item-input">
                    <span class="input-label">URL</span>
                    <input type="text" ng-model="info.url">
                </label>
                <!--
                <input id="datepicker" type="text" placeholder="Choose A Date">
                <input id="timepicker" type="text" placeholder="Choose A Time">
                -->
                <label class="item item-text-wrap">
                    <p><strong>NOTE:</strong></p>
                    <p>URL not required. Please include if there is a website for external registration.</p>
                    <button class="button button-block button-positive" type="submit">Create</button>
                </label>
            </div>
        </form>
        <script>
            /**
            $(document).ready(function () {
                $('#datepicker').pickadate();
                $('#timepicker').pickatime();
            });
            **/
        </script>

    </ion-content>
</ion-view>