<ion-view view-title="Create Event" ng-controller="CreateEventCtrl" class="create-event">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <button ng-show="creator=='am790d'" class="button button-block button-positive" ng-click="inject()">Inject Default Events</button>
        <form ng-submit="createEvent(false)">
            <div class="list">
                <label class="item item-input item-floating-label" style="background: white;">
                    <span class="input-label">Event Title</span>
                    <input type="text" placeholder="Event Title" ng-model="info.name">
                </label>
                <label class="item item-input item-floating-label" style="background: white;">
                    <span class="input-label">Location</span>
                    <input type="text" placeholder="Location" ng-model="info.location">
                </label>
                <div class="item item-divider" style="border-bottom: none;"></div>
                <label class="button button-full button-royal" ng-click="showDatePicker('start')" ng-hide="isBrowser">
                    {{startDate | date : 'MMMM d, yyyy h:mm a'}}
                </label>
                <label class="button button-full button-balanced" ng-click="showDatePicker('end')" ng-hide="isBrowser">
                    {{endDate | date : 'MMMM d, yyyy h:mm a'}}
                </label>
                <label class="item item-input" ng-show="isBrowser">
                    <span class="input-label">Start</span>
                    <input type="datetime-local" placeholder="Today" ng-model="info.date">
                </label>
                <label class="item item-input" ng-show="isBrowser">
                    <span class="input-label">End</span>
                    <input type="datetime-local" placeholder="Today" ng-model="info.endDate">
                </label>
                <div class="item item-divider" style="border: none;"></div>
                <label class="item item-input item-floating-label" style="background: white;">
                    <span class="input-label">Contact Name</span>
                    <input type="text" placeholder="Contact Name" ng-model="info.contact">
                </label>
                <label class="item item-input item-floating-label" style="background: white;">
                    <span class="input-label">Contact Info</span>
                    <input type="text" placeholder="Contact Information" ng-model="info.contactInfo">
                </label>
                <div class="item item-divider" style="height: 40px;"></div>
                <label class="item item-input item-floating-label" style="background: white;">
                    <span class="input-label">Description</span>
                    <textarea msd-elastic placeholder="Description" ng-model="info.description"></textarea>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="URL" ng-model="info.url">
                </label>
                <ion-toggle ng-model="info.external" toggle-class="toggle-calm">External Event?</ion-toggle>
                <!--<label class="toggle" style="background: white;">
                    <ion-toggle ng-model="info.external" toggle-class="toggle-calm">External</ion-toggle>
                </label>-->
                <label class="item item-text-wrap">
                    <p><strong>NOTE:</strong></p>
                    <p>URL is optional, unless the event is external.<br />
                        <strong>External event</strong> refers to an event that requires registration outside of this
                            application. If you select this, the URL
                        <strong>must</strong> refer to the external registration link..</p>
                    <button class="button button-block button-positive" type="submit">Create</button>
                </label>
            </div>
        </form>

    </ion-content>
</ion-view>