<ion-modal-view view-title="Edit Event" class="create-event">
    <ion-header-bar class="bar bar-header bar-assertive">
        <button class="button button-clear icon ion-android-close" ng-click="closeModal()"></button>
        <h1 class="title">Edit Event</h1>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="saveEvent()">
            <div class="list">
                <label class="item item-input item-floating-label" style="background: white;">
                    <span class="input-label">Event Title</span>
                    <input type="text" placeholder="Event Title" ng-model="modalVars.title">
                </label>
                <label class="item item-input item-floating-label" style="background: white;">
                    <span class="input-label">Location</span>
                    <input type="text" placeholder="Location" ng-model="modalVars.location">
                </label>
                <div class="item item-divider" style="border-bottom: none;"></div>
                <label class="button button-full button-calm" ng-click="showDatePicker('start')" ng-hide="isBrowser">
                    {{modalVars.startDate | date : 'MMMM d, yyyy h:mm a'}}
                </label>
                <label class="button button-full button-royal" ng-click="showDatePicker('end')" ng-hide="isBrowser">
                    {{modalVars.endDate | date : 'MMMM d, yyyy h:mm a'}}
                </label>
                <label class="item item-input" ng-show="isBrowser">
                    <span class="input-label">Start</span>
                    <input type="datetime-local" placeholder="Today" ng-model="modalVars.startDate">
                </label>
                <label class="item item-input" ng-show="isBrowser">
                    <span class="input-label">End</span>
                    <input type="datetime-local" placeholder="Today" ng-model="modalVars.endDate">
                </label>
                <div class="item item-divider" style="border: none;"></div>
                <label class="item item-input item-floating-label" style="background: white;">
                    <span class="input-label">Contact Name</span>
                    <input type="text" placeholder="Contact Name" ng-model="modalVars.contact">
                </label>
                <label class="item item-input item-floating-label" style="background: white;">
                    <span class="input-label">Contact Info</span>
                    <input type="text" placeholder="Contact Information" ng-model="modalVars.contactInfo">
                </label>
                <div class="item item-divider" style="height: 40px;"></div>
                <label class="item item-input item-floating-label" style="background: white;">
                    <span class="input-label">Description</span>
                    <textarea msd-elastic placeholder="Description" ng-model="modalVars.description"></textarea>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="URL" ng-model="modalVars.url">
                </label>
                <ion-toggle ng-model="modalVars.external" toggle-class="toggle-calm">External Event?</ion-toggle>
                <!--<label class="toggle" style="background: white;">
                    <ion-toggle ng-model="info.external" toggle-class="toggle-calm">External</ion-toggle>
                </label>-->
                <label class="item item-text-wrap">
                    <p><strong>NOTE:</strong></p>
                    <p>URL is optional, unless the event is external.<br />
                        <strong>External event</strong> refers to an event that requires registration outside of this
                        application. If you select this, the URL
                        <strong>must</strong> refer to the external registration link..</p>
                </label>
                <button class="button button-block button-positive" type="submit">Save Changes</button>
                <label class="item button button-block button-assertive" ng-click="removeWarnEvent()">Remove
                    Event</label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>