<ion-view view-title="Edit Profile" ng-controller="ProfileCtrl">
    <ion-content>
        <form ng-submit="saveProfileChanges()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">First Name</span>
                    <input type="text" ng-model="info.firstName">
                </label>
                <label class="item item-input">
                    <span class="input-label">Last Name</span>
                    <input type="text" ng-model="info.lastName">
                </label>
                <label class="item item-input">
                    <span class="input-label">Phone Number</span>
                    <input type="text" ng-model="info.phone">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" ng-model="info.email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Interests</span>
                    <input type="text" ng-model="info.interests">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Save</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>