<ion-view view-title="Event" ng-controller="EventCtrl">
    <ion-content>
        <h2 style="margin-top:8px;text-align:center;">{{name}}</h2>
        <ul class="list">
            <li class="item">
                <div class="row">
                    <div class="col"><b>Date</b></div>
                    <div class="col item-text-wrap" ng-if="singleDay">{{date | date : 'EEEE, MMMM d, yyyy'}} </div>
                    <div class="col item-text-wrap" ng-if="!singleDay">{{date | date : 'EEEE, MMMM d'}} to <br/>
                        {{endDate | date: 'EEEE, MMMM d, yyyy'}}</div>
                </div>
            </li>
            <li class="item">
                <div class="row">
                    <div class="col"><b>Time</b></div>
                    <div class="col item-text-wrap" ng-if="singleDay">{{startTime | date : 'h:mm a'}} - {{endTime | date :
                        'h:mm a'}}</div>
                    <div class="col item-text-wrap" ng-if="!singleDay">{{startTime | date : "MMM d 'at' h:mm a"}}
                        to <br/> {{endTime | date : "MMM d 'at' h:mm a"}}</div>
                </div>
            </li>
            <li class="item">
                <div class="row">
                    <div class="col"><b>Location</b></div>
                    <div class="col item-text-wrap">{{location}}</div>
                </div>
            </li>
            <li class="item">
                <div class="row">
                    <div class="col"><b>Description</b></div>
                </div>
                <div class="row">
                    <div class="col item-text-wrap">&emsp;&emsp;{{description}}</div>
                </div>
            </li>
            <li class="item">
                <div class="row">
                    <div class="col"><b>Contact</b></div>
                    <div class="col item-text-wrap">{{contact}}</br>{{contactInfo}}</div>
                </div>
            </li>
            <li class="item">
                <div class="row">
                    <div class="col"><b>URL</b></div>
                    <div class="col item-text-wrap">{{url}}</div>
                </div>
            </li>
            <li class="item">
                <button class="button button-block button-positive" ng-hide="info.signedUp" ng-click="signUp()">Sign Up!</button>
                <button class="button button-block button-calm" ng-show="info.signedUp" ng-click="addCalendar()">Add to
                    Calendar</button>
                <button class="button button-block button-assertive" ng-show="info.signedUp" ng-click="removeWarn()">Remove From Event!</button>
            </li>
        </ul>
    </ion-content>
</ion-view>