<ion-view view-title="Event" ng-controller="EventCtrl">
    <ion-nav-bar class="bar-positive" ng-click="menuClose()">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-edit" ng-click="editEvent()" ng-show="userCreated">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <ul class="list">
            <li class="item">
                <h2 style="margin-top:8px;text-align:center;color:#0574ac; font-size: 20px;">{{name}}</h2>
            </li>
            <li class="item">
                <div class="row">
                    <div class="col col-25"><b>Date</b></div>
                    <div class="col item-text-wrap" ng-if="singleDay">{{date | date : 'EEEE, MMMM d, yyyy'}} </div>
                    <div class="col item-text-wrap" ng-if="!singleDay">{{date | date : 'EEEE, MMMM d'}} to <br/>
                        {{endDate | date: 'EEEE, MMMM d, yyyy'}}</div>
                </div>
            </li>
            <li class="item">
                <div class="row">
                    <div class="col col-25"><b>Time</b></div>
                    <div class="col item-text-wrap" ng-if="singleDay">{{startTime | date : 'h:mm a'}} - {{endTime | date :
                        'h:mm a'}}</div>
                    <div class="col item-text-wrap" ng-if="!singleDay">{{startTime | date : "MMM d 'at' h:mm a"}}
                        to <br/> {{endTime | date : "MMM d 'at' h:mm a"}}</div>
                </div>
            </li>
            <li class="item">
                <div class="row">
                    <div class="col col-25"><b>Location</b></div>
                    <div class="col item-text-wrap" ng-show="!locationFound">{{location}}</div>
                </div>
                <div class="row" style="width: 100%; height: 250px; margin-left: 0;">
                    <ui-gmap-google-map center='mapOptions.center' zoom='mapOptions.zoom'>
                        <ui-gmap-marker coords="marker.coords" idkey="marker.idKey" options="marker.options"
                                        click="onClick()">
                            <ui-gmap-window show="windowOptions.visible" options="windowOptions"
                                            closeClick="closeClick()">
                                <div>{{windowTitle}}</div>
                            </ui-gmap-window>
                        </ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>
            </li>
            <li class="item">
                <div class="row">
                    <div class="col col-25"><b>Description</b></div>
                </div>
                <div class="row">
                    <div class="col item-text-wrap">{{description}}</div>
                </div>
            </li>
            <li class="item">
                <div class="row">
                    <div class="col col-25"><b>Contact</b></div>
                    <div class="col item-text-wrap">{{contact}}<br />{{contactInfo}}</div>
                </div>
            </li>
            <li class="item">
                <div class="row">
                    <div class="col col-25"><b>URL</b></div>
                    <div class="col item-text-wrap"><a href={{url}}>{{url}}</a></div>
                </div>
            </li>
            <li class="item">
                <button class="button button-block button-positive" ng-hide="info.signedUp" ng-click="signUp()">Sign Up!</button>
                <button class="button button-block button-assertive" ng-show="info.signedUp" ng-click="removeWarn()">Remove From Event!</button>
                <button class="button button-block button-calm" ng-hide="inCalendar"
                        ng-click="funcCalendar('add')">Add to Calendar</button>
                <button class="button button-block button-assertive" ng-hide="!inCalendar"
                        ng-click="funcCalendar('remove')">Remove from Calendar</button>
            </li>
        </ul>
    </ion-content>
</ion-view>