<ion-view view-title="Event" ng-controller="EventCtrl">
    <ion-header-bar>
        <h1 class="title">Event</h1>
    </ion-header-bar>
    <ion-content>
        <h2 style="margin-top:8px;text-align:center;">{{name}}</h2>
        <ul class="list">
            <li class="item">
                <div class="row">
                    <div class="col"><b>Date</b></div>
                    <div class="col item-text-wrap">{{date}}</div>
                </div>
            </li>
            <li class="item">
                <div class="row">
                    <div class="col"><b>Time</b></div>
                    <div class="col item-text-wrap">{{startTime}} - {{endTime}}</div>
                </div>
            </li>
            <li class="item">
                <div class="row">
                    <div class="col"><b>Location</b></div>
                    <div class="col item-text-wrap">{{location}}</div>
                </div>
            </li>
            <li class="item">
                <div class="row">
                    <div class="col"><b>Description</b></div>
                </div>
                <div class="row">
                    <div class="col item-text-wrap">&emsp;&emsp;{{description}}</div>
                </div>
            </li>
            <li class="item">
                <div class="row">
                    <div class="col"><b>Contact</b></div>
                    <div class="col item-text-wrap">{{contact}}</br>{{contactInfo}}</div>
                </div>
            </li>
            <li class="item">
                <button class="button button-block button-positive" ng-click="signup()">Sign Up!</button>
            </li>
        </ul>
    </ion-content>
</ion-view>