<ion-view view-title="Home">
	<ion-content>
		<h2>Welcome, <span ng-bind="firstName"></span>!</h2>
		<nav class="circular-menu">

			<div class='circle-container'>
				<a href='#' class='center ion-log-out'></a>
				<a href='#' class='deg0 ion-plus-circled'></a>
				<a href='#' class='deg45 ion-plus-circled'></a>
				<a href='#' class='deg135 ion-plus-circled'></a>
				<a href='#' class='deg180 ion-plus-circled'></a>
				<a href='#' class='deg225 ion-plus-circled'></a>
				<a href='#' class='deg315 ion-plus-circled'></a>
			</div>

		</nav>
	</ion-content>
</ion-view>
