<ion-view view-title="Home" class="transparent">
	<ion-content>
		<h2>Welcome, <span ng-bind="firstName"></span>!</h2>
		<nav class="circular-menu">

			<div ng-class="{'circle open': isActive, 'circle': !isActive}">
				<a href="" class="fa-stack fa-2x">
					<i class="fa fa-plus-square fa-stack-1x"></i>
					<strong class="fa-stack-1x icon-text">Add Event</strong>
				</a>
				<a href="" class="fa-stack fa-2x">
					<i class="fa fa-user fa-stack-1x"></i>
					<strong class="fa-stack-1x icon-text">Profile</strong>
				</a>
				<a></a>
				<a></a>
				<a href="" class="fa-stack fa-2x">
					<i class="fa fa-calendar fa-stack-1x"></i>
					<strong class="fa-stack-1x icon-text">Calendar</strong>
				</a>
				<a href="" class="fa-stack fa-2x">
					<i class="fa fa-search fa-stack-1x"></i>
					<strong class="fa-stack-1x icon-text">Search</strong>
				</a>

			</div>

			<a href="" class="menu-button fa fa-plus-circle fa-4x" ng-click="toggleMenu($event)"></a>

		</nav>
	</ion-content>
</ion-view>
