<ion-view view-title="Settings">
    <ion-content>

        <div class="list card">
            <a href="https://att.volunteermatch.org" class="item item-icon-left">
                <i class="icon ion-edit"></i>
                AT&T VolunteerMatch
            </a>

            <a href="http//attpioneervolunteers.org" class="item item-icon-left">
                <i class="icon ion-android-notifications"></i>
                AT&T Pioneer Volunteers
            </a>

            <a href="http://www.dallasareahabitat.org/web/guest/volunteer" class="item item-icon-left">
                <i class="icon ion-ios-telephone"></i>
                Dallas Habitat
            </a>

            <a href="https://www.ymcadallas.org/social_responsibility/volunteerism_giving/volunteer"
               class="item item-icon-left">
                <i class="icon ion-information-circled"></i>
                YMCA Dallas
            </a>

            <a href="https://childrens.com/get-involved/volunteer"
               class="item item-icon-left">
                <i class="icon ion-information-circled"></i>
                Childrens
            </a>
        </div>

    </ion-content>
</ion-view>
