<ion-view view-title="Newsfeed" ng-controller="NewsCtrl">
	<ion-content>
		<ion-refresher
			pulling-text="Pull to refresh..."
			on-refresh="refresh()">
		</ion-refresher>
		<ion-list>
			<label class="item item-text-wrap" ng-show="error.show">
				<p style="color:red;text-align:center;">Error loading newsfeed!</p>
			</label>
			<ion-item ng-repeat="newsItem in news" ng-click="select(newsItem)">
				{{newsItem.text}}</br><p>Created by {{newsItem.owner}}</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
