<ion-view view-title="Profile" class="profile">
    <ion-nav-bar class="bar bar-clear" ng-click="menuClose()">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scroll="false">
        <div class="item" style="height: 40%; background: transparent; border: none;">
            <img src="img/person.jpg" class="image-avatar">
            <h2 style="margin-top:8px;text-align:center;font-size: 4vh; color: white;">{{fullName}}</h2>
            <h3 style="text-align: center; font-size: 2vh; color: lightgrey;">{{id}}</h3>
            <div class="row">
                <div class="col col-33 profile-module profile-hours">
                    <h2>{{hours}}</h2>
                    <h3>Total Hours</h3>
                </div>
                <div class="col col-33 profile-module profile-events-attended">
                    <h2>{{hours}}</h2>
                    <h3>Events<br />Attended</h3>
                </div>
                <div class="col col-33 profile-module profile-events-created">
                    <h2>{{userCreated.length}}</h2>
                    <h3>Events<br />Created</h3>
                </div>
            </div>
        </div>
		<tab-slide-box tab="0">
			<div class="tsb-icons" style="background: #0574ac;">
				<div class="tsb-ic-wrp">
					<a href="javascript:;" class="ion-person"></a>
					<a href="javascript:;" class="ion-arrow-graph-up-right"></a>
				</div>
			</div>
			<ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
				<ion-slide style="background: transparent;">
					<ion-content class="profile-slide" style="height: calc(100% + 200px);">
                        <ion-refresher
                                pulling-text="Pull to refresh..."
                                on-refresh="doRefresh()">
                        </ion-refresher>
						<ion-list class="list list-inset profile-list">
							<ion-item style="border: none;">
                                <h3><b>Phone Number</b></h3>
                                <p>{{phone}}</p>
							</ion-item>
							<ion-item style="border: none;">
                                <h3><b>Email</b></h3>
                                <p>{{email}}</p>
							</ion-item>
							<ion-item style="border: none;">
                                <h3><b>Interests</b></h3>
                                <p ng-repeat="interest in interestsList">
                                    {{interest}}
                                </p>
                            </ion-item>
							<ion-item style="height: 100px;">
                                <h3><b>Upcoming Events</b></h3>
                                <ion-scroll style="height: 50px;">
                                    <div ng-repeat="event in upcoming" ng-click="selectUpcoming(event)">
                                        <p><strong>Name:</strong> {{event.name}}</p>
                                        <p><strong>Date:</strong> {{event.date}}</p>
                                        <br />
                                    </div>
                                </ion-scroll>
							</ion-item>
                            <ion-item style="height: 100px;">
                                <h3><b>Events Created by You</b></h3>
                                <ion-scroll style="height: 100px;">
                                    <div ng-repeat="userEvent in userCreated" ng-click="selectUserCreated(userEvent)">
                                        <p><b>Name:</b> {{userEvent.name}}</p>
                                        <p><b>Date:</b> {{userEvent.date | date : 'MM/dd/yyyy'}}</p>
                                        <br />
                                    </div>
                                </ion-scroll>
                            </ion-item>
						</ion-list>
					</ion-content>
				</ion-slide>
				<ion-slide>
                    <ion-content>
                        <h2 style="margin-top:8px;text-align:center;">Progress</h2>
                        <ul class="list">
                            <li class="item">
                                <div class="row">
                                    <div id="canvasWrapper" style="width:100%;">
                                        <canvas id="canvas"></canvas>
                                    </div>
                                </div>
								<h3 style="margin-top:8px;text-align:center;">Did you know?</h3>
								<p style="text-align:center;">For every hour you volunteer, you are saving AT&T $22.90</p>
								<p style="text-align:center;">You have save ${{moneySaved}} based on your hours.</p>
                            </li>
							<li class="item">
								<table class="col-33 col-offset-33" style="width:100%;">
									<h1 style="margin-bottom:16px;"><b>High Scores</b></h1>
									<tr>
										<td style="border: 1px solid grey;border-collapse:collapse;padding:16px;"><b>Rank</b></td>
										<td style="border: 1px solid grey;border-collapse:collapse;padding:16px;"><b>Name</b></td>
										<td style="border: 1px solid grey;border-collapse:collapse;padding:16px;"><b>Hours</b></td>
									</tr>
									<tr ng-repeat="person in topPeople">
										<td style="border: 1px solid grey;border-collapse:collapse;padding:16px;"><h2>{{$index+1}}</h2></td>
										<td style="border: 1px solid grey;border-collapse:collapse;padding:16px;"><h2>{{person.name}}</h2></td>
										<td style="border: 1px solid grey;border-collapse:collapse;padding:16px;"><h2>{{person.hours}}</h2></td>
									</tr>
								</table>
							</li>
							<li class="item" style="border:none;"></li>
							<li class="item" style="border:none;"></li>
							<li class="item" style="border:none;"></li>
							<li class="item" style="border:none;"></li>
							<li class="item" style="border:none;"></li>
							<li class="item" style="border:none;"></li>
                        </ul>
                    </ion-content>

				</ion-slide>
			</ion-slide-box>
		</tab-slide-box>
	</ion-content>
</ion-view>