<ion-view view-title="Profile" ng-controller="ProfileCtrl">
	<ion-header-bar>
		<h1 class="title">Profile</h1>
	</ion-header-bar>
	<ion-content>
		<tab-slide-box tab="0">
			<div class="tsb-icons">
				<div class="tsb-ic-wrp">
					<a href="javascript:;" class="ion-person"></a>
					<a href="javascript:;" class="ion-arrow-graph-up-right"></a>
				</div>
			</div>
			<ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
				<ion-slide>
					<h2 style="margin-top:8px;text-align:center;">{{fullName}}</h2>
					<ul class="list">
						<li class="item">
							<div class="row">
								<div class="col"><b>ATTUID</b></div>
								<div class="col">{{id}}</div>
							</div>
						</li>
						<li class="item">
							<div class="row">
								<div class="col"><b>Total Hours</b></div>
								<div class="col">{{hours}}</div>
							</div>
						</li>
						<li class="item">
							<div class="row">
								<div class="col"><b>Recent Events</b></div>
								<div class="col item-text-wrap">
									<ul style="list-style-type:circle;" ng-repeat="event in recent">
										<li>{{event}}</li>
									</ul>
								</div>
							</div>
						</li>
						<li class="item">
							<a href="#app/create_event" style="text-decoration:none;">
								<button class="button button-block button-positive">Create Event</button>
							</a>
						</li>
					</ul>
				</ion-slide>
				<ion-slide>
					<h2 style="margin-top:8px;text-align:center;">Progress</h2>
					<ul class="list">
						<li class="item">
							<div class="row">
								<canvas id="canvas"></canvas>
							</div>
						</li>
					</ul>
					<h3 style="margin-top:8px;text-align:center;">Did you know?</h3>
					<p style="text-align:center;">For every hour you volunteer, you are saving AT&T $22.90</p>
					<p style="text-align:center;">You have save ${{hours*22.90}} based on your hours.</p>
				</ion-slide>
				<script>
					var data = {
						labels: ["January","February","March","April"],
						datasets: [{
							fillColor: "rgba(0,0,0,0.5)",
							strokeColor: "rgba(0,0,0,0.8)",
							highlightFill: "rgba(0,0,0,0.75)",
							highlightStroke: "rgba(0,0,0,1)",
							data: [2, 2, 1, 4]
						}]
					};
					$(document).ready(function() {
						var chart = document.getElementById("canvas").getContext("2d");
						document.chart = new Chart(chart).Bar(data, { responsive: true });
					});
				</script>
			</ion-slide-box>
		</tab-slide-box>
	</ion-content>
</ion-view>