<ion-view view-title="Profile" ng-controller="ProfileCtrl">
	<ion-header-bar>
		<h1 class="title">Profile</h1>
	</ion-header-bar>
	<ion-content>
		<h2 style="margin-top:8px;text-align:center;">{{user.name}}</h2>
		<ul class="list">
			<li class="item">
				<div class="row">
					<div class="col"><b>ATTUID</b></div>
					<div class="col">{{fullName}}</div>
				</div>
			</li>
			<li class="item">
				<div class="row">
					<div class="col"><b>Total Hours</b></div>
					<div class="col">{{hours}}</div>
				</div>
			</li>
			<li class="item">
				<div class="row">
					<div class="col"><b>Recent Events</b></div>
					<div class="col item-text-wrap">
						<ul style="list-style-type:circle;" ng-repeat="event in recent">
							<li>{{event}}</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="item">
				<div class="row">
					<div class="col"><b>Interests</b></div>
					<div class="col item-text-wrap">
						<ul style="list-style-type:circle;" ng-repeat="interest in interests">
							<li>{{interest}}</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="item">
				<div class="row">
					<div class="col"><b>Email</b></div>
					<div class="col"><a href="mailto:{{email}}">{{email}}</a></div>
				</div>
			</li>
			<li class="item">
				<div class="row">
					<div class="col"><b>Phone Number</b></div>
					<div class="col">{{phone}}</div>
				</div>
			</li>
		</ul>
	</ion-content>
</ion-view>