<ion-view view-title="Settings">
	<ion-content>

		<div class="list card">
			<a href="#/app/edit_profile" class="item item-icon-left">
				<i class="icon ion-edit"></i>
				Edit Profile
			</a>

			<a href="#/app/settings/notifications" class="item item-icon-left">
				<i class="icon ion-android-notifications"></i>
				Manage Notifications
			</a>

			<a href="#" class="item item-icon-left">
				<i class="icon ion-ios-telephone"></i>
				Help and Support
			</a>

			<a href="#" class="item item-icon-left">
				<i class="icon ion-information-circled"></i>
				About
			</a>
		</div>

	</ion-content>
</ion-view>
