<ion-modal-view>
    <ion-header-bar align-title="center" class="bar-light">
            <button class="button button-clear button-positive" ng-click="leftButtonClick()">{{leftButton}}</button>
        <h1 class="title">Welcome Tutorial</h1>
        <div class="buttons">
            <button class="button button-clear button-positive" ng-click="rightButtonClick()">{{rightButton}}</button>
        </div>
    </ion-header-bar>
    <div>
        <ion-slide-box style="top: 50px;" show-pager="false" on-slide-changed="updateSlide($index)">
            <!-- Slide page one -->
            <ion-slide>
                <ion-scroll class="tutorial">
                    <h2>Welcome!</h2>
                    <p>
                        This is CollaborAT&T, your home for serving the community. Let's get started! <br /><br />
                        Swipe left or tap the "next" button to continue.
                    </p>
                </ion-scroll>

            </ion-slide>
            <!-- Slide page two -->
            <ion-slide>
                <ion-scroll class="tutorial">
                    <h2 class="padding">Your Home</h2>
                    <img class="tutorial-pic" src="img/tutorial1.PNG">
                    <p class="padding">
                        Here is your home page. It will display events you're signed up for, upcoming service events, and
                        fundraisers that are in progress.
                    </p>
                </ion-scroll>
            </ion-slide>
            <!-- More slides here... -->
            <ion-slide>
                <ion-scroll class="tutorial">
                    <h2 class="padding">Your Action Menu</h2>
                    <img class="tutorial-pic" src="img/tutorial2.PNG">
                    <p class="padding">
                        Tap the circular icon to open your quick menu. Here you have access to the most frequently used
                        parts of the app all in one place!
                    </p>
                </ion-scroll>
            </ion-slide>
            <ion-slide>
                <ion-scroll class="tutorial">
                    <h2 class="padding">Your Profile</h2>
                    <img class="tutorial-pic" src="img/tutorial3.PNG">
                    <p class="padding">
                        Your profile page will give you a summary of your service achievements and history. You can
                        view your information, events you've created, and your service progress.
                    </p>
                </ion-scroll>
            </ion-slide>
            <ion-slide>
                <ion-scroll class="tutorial">
                    <h2 class="padding">Service Calendar</h2>
                    <img class="tutorial-pic" src="img/tutorial4.PNG">
                    <p class="padding">
                        This is the service calendar for all events and fundraisers. Days marked with blue indicate
                        service events and new fundraisers.  Clicking on other days will show fundraisers that are
                        currently in progress. To create an event, just tap the icon on the upper right hand corner!
                    </p>
                </ion-scroll>
            </ion-slide>
            <ion-slide>
                <ion-scroll class="tutorial">
                    <h2 class="padding">Settings</h2>
                    <img class="tutorial-pic" src="img/tutorial5.PNG">
                    <p class="padding">
                        This is your settings page. Here you can edit your profile, manage your event notifications,
                        read about frequently asked questions, and more!
                    </p>
                </ion-scroll>
            </ion-slide>
            <ion-slide class="tutorial">
                <h2>Finish</h2>
                <p>
                    Thanks for viewing the CollaborAT&T tutorial! If you ever need to access this again, you can open
                    the tutorial from the settings menu.
                </p>
                <button class="button button-block button-positive" ng-click="goHome()">Go Home</button>
                <button class="button button-block button-assertive" ng-click="closeModal()" ng-show="allowClose">Close
                </button>
            </ion-slide>
        </ion-slide-box>
    </div>

</ion-modal-view>
