<ion-view view-title="How do I create service events?">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                Go to the Home Page, and click on the icon that says "Create a Service Event." Fill out the
                appropriate information, and click Submit. Your event will now be posted to the calendar and the
                newsfeed. Be sure to fill out all information except the URL, it is optional. The Date should be
                formatted in MM-DD-YYYY format.
            </div>
        </div>
    </ion-content>
</ion-view>

