<ion-view view-title="How do I sign up for service events?">
    <ion-content>
        <h4>
            Go to the Calendar, and click on a day on the calendar. You will be presented with service opportunities. Click on one of the links to learn more about the event. Click the "Sign Up!" button at the bottom of the screen.
            <br> <br>
            If the event is an <b>internal</b> app event, fill out the information, and check the agreement box. Click Submit. The event will now be added to your calendar.
            <br> <br>
            If the event is <b>external</b>, click the left button. This will take you to the official website where you can sign up for the event. Once you have signed up, go back to the event page. Click the right button to verify that you have signed up for the event. Fill in your emergency contact information, and check the agreement box. Click Submit. The event will now appear on your calendar.
        </h4>
    </ion-content>
</ion-view>