<ion-view view-title="How do I sign up for a service event?">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                Go to the Calendar, and click on a day on the calendar. You will be presented with a list of events. Click on one of the links to learn more about the event. Click the "Sign Up!" button at the bottom of the screen.
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                If the event is an <b>internal</b> app event, it will automatically be added to Your Events.
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                If the event is an <b>external</b> event, there will be a disclaimer. The Submit button at the bottom
                of the page will take you to the official website where you can sign up for the event. Clicking the Submit button will also add the event to Your Events.
            </div>
        </div>
    </ion-content>
</ion-view>


