<ion-view view-title="About">
    <ion-content>

<!DOCTYPE html>
<html>
<head>

</head>
<body>

<h1>About</h1>
<p>
    CollaborAT&T is an application developed by AT&T Inc. The application and its proprietary information are the sole property of AT&T Inc. and it is not meant to be distributed, shared or re-produced without written authorization from AT&T Inc.
    CollaborAT&T is meant for assisting individuals and/or organizations in need. Assisting those in need is defined as voluntarily giving goods or services to an individual and/or organization that agrees to accept such goods and services.
    All proprietary information about a user, including, but not limited to, their username, email address, password, name, ATTUID, phone number, and picture. This confidential information is not meant to be distributed, shared, or re-produced without proper authorization from CollaborAT&T and the user.
</p>

</body>
</html>

</ion-content>
</ion-view>
