<ion-view view-title="Frequently Asked Questions">
    <ion-content>
        <!DOCTYPE html>
        <html>
        <body>

        <p>
            How do I track my service? <br>
            How do I update my profile? <br>
            How do I change my password? <br>
            How do I create/sign up for events? <br>
            How do I change my notification settings? <br>
            How do I change accessibility settings?
        </p>

        </body>
        </html>

    </ion-content>
</ion-view>