<ion-view view-title="Help and Support">
    <ion-content>

        <div class="list card">
            <a href="#/app/settings/faqs/faq1" class="item item-icon-right">
                <i class="icon ion-chevron-right"></i>
                How do I update my profile?
            </a>

            <a href="#/app/settings/faqs/faq2" class="item item-icon-right">
                <i class="icon ion-chevron-right"></i>
                How do I change my password?
            </a>

            <a href="#/app/settings/faqs/faq3" class="item item-icon-right">
                <i class="icon ion-chevron-right"></i>
                How do I change my notification settings?
            </a>

            <a href="#/app/settings/faqs/faq4" class="item item-icon-right">
                <i class="icon ion-chevron-right"></i>
                How do I change my accessibility settings?
            </a>

            <a href="#/app/settings/faqs/faq9" class="item item-icon-right">
                <i class="icon ion-chevron-right"></i>
                How do I create fundraising events?
            </a>

            <a href="#/app/settings/faqs/faq5" class="item item-icon-right">
                <i class="icon ion-chevron-right"></i>
                How do I create service events?
            </a>

            <a href="#/app/settings/faqs/faq6" class="item item-icon-right">
                <i class="icon ion-chevron-right"></i>
                How do I sign up for service events?
            </a>

            <a href="#/app/settings/faqs/faq8" class="item item-icon-right">
                <i class="icon ion-chevron-right"></i>
                How do I know if I have successfully signed up for a service event?
            </a>

            <a href="#/app/settings/faqs/faq7" class="item item-icon-right">
                <i class="icon ion-chevron-right"></i>
                How do I track my progress?
            </a>

            <a href="#/app/settings/faqs/other" class="item item-icon-right">
                <i class="icon ion-chevron-right"></i>
                Other questions
            </a>
        </div>

    </ion-content>
</ion-view>