<ion-view view-title="Help and Support">
    <ion-content>

        <div class="list card">
            <a href="#/app/settings/faqs/faq1" class="item item-icon-right">
                <i class="icon ion-chevron-right"></i>
                How do I update my profile?
            </a>

            <a href="#/app/settings/faqs/faq2" class="item item-icon-right">
                <i class="icon ion-chevron-right"></i>
                How do I change my password?
            </a>

            <a href="#/app/settings/faqs/faq3" class="item item-icon-right">
                <i class="icon ion-chevron-right"></i>
                How do I change my notification settings?
            </a>

            <a href="#/app/settings/faqs/faq4" class="item item-icon-right">
                <i class="icon ion-chevron-right"></i>
                How do I change my accessibility settings?
            </a>

            <a href="#/app/settings/faqs/other" class="item item-icon-right">
                <i class="icon ion-chevron-right"></i>
                Other questions
            </a>
        </div>

    </ion-content>
</ion-view>