<ion-view view-title="Manage Notifications">
	<ion-content>
        <div class = "list card">
            <div class="card">
                <div class="item item-text-wrap">
                    <h3>Toggle the below options to change how you receive notifications.</h3>
                    <h5>NOTE: If you use text notifications, data rates my apply.</h5>
                </div>
            </div>
            <ion-toggle toggle-class="toggle-calm" style="border: none;">Email Notifications</ion-toggle>
            <ion-toggle toggle-class="toggle-calm" style="border: none;">Text Notifications</ion-toggle>
            <div class="card">
                <div class="item item-text-wrap">
                    <h3>Toggle the below options to change which events you are notified about.</h3>
                </div>
            </div>
            <ion-toggle toggle-class="toggle-calm" style="border: none;">Service Events</ion-toggle>
            <ion-toggle toggle-class="toggle-calm" style="border: none;">Fundraising Events</ion-toggle>
        </div>

	</ion-content>
</ion-view>